# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [11]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [12]:
csv = pd.read_csv("weather_df.csv")
df = pd.DataFrame(csv)
df.head()

,Unnamed: 0,City,Country,Date,Latitude,Longitude,Temperature,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,1666577219,-23.1203,-134.9692,73.11,73.11,82,76,12.41
1,1,Vaini,TO,1666577210,-21.2000,-175.2000,77.16,77.16,65,20,14.97
2,2,Albany,US,1666577106,42.6001,-73.9662,50.67,52.54,82,100,1.92
3,3,George Town,MY,1666577209,5.4112,100.3354,82.53,84.13,78,20,0.00
4,4,Puerto Ayora,EC,1666577321,-0.7393,-90.3518,66.54,66.54,87,82,5.99

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [13]:
humidity = df["Humidity"].astype(float)
maxhumidity = humidity.max()
locations = df[["Latitude", "Longitude"]]

In [14]:
fig = gmaps.figure()
heatmap = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=maxhumidity,point_radius=3)
fig.add_layer(heatmap)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [15]:
narrowed_df = df.loc[(df["Max Temp"] > 70) & (df["Max Temp"] < 80) & (df["Cloudiness"] == 0), :]
narrowed_df = narrowed_df.dropna(how='any')
narrowed_df.reset_index(inplace=True)
del narrowed_df['index']
narrowed_df.head()

,Unnamed: 0,City,Country,Date,Latitude,Longitude,Temperature,Max Temp,Humidity,Cloudiness,Wind Speed
0,5,Yulara,AU,1666577377,-25.2406,130.9889,79.92,79.92,33,0,9.89
1,83,Jaisalmer,IN,1666577417,26.9147,70.9181,76.77,76.77,21,0,3.71
2,101,Sur,OM,1666577427,22.5667,59.5289,78.21,78.21,39,0,7.78
3,144,San Juan,AR,1666576893,-31.5375,-68.5364,72.16,72.16,29,0,6.24
4,172,Marsh Harbour,BS,1666577138,26.5412,-77.0636,79.12,79.12,63,0,13.62

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [17]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_df.iterrows()]
locations = narrowed_df[["Latitude", "Longitude"]]

In [19]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

# Display figure

Figure(layout=FigureLayout(height='420px'))